.cvs_wrap {
  position: relative;
  overflow: hidden;
  background-color: #222;
  background: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  overflow: hidden;
}
.cvs_wrap #cvs {
  display: block;
  opacity: 0.25;
  background-color: transparent;
}
.cvs_wrap .tit_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.main_tit {
  font-size: 4.5em;
  color: #fff;
  opacity: 0.85;
  text-shadow: 5px 4px 4px #000;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1.35;
}

.subs {
  display: block;
  font-size: 0.5em;
}

.sub_wrap {
  display: none;
}
.sub_wrap.on {
  display: block;
}
.sub_wrap.on .sub_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #282a3a;
}
.sub_wrap .sub_cvs {
  background-color: rgb(255, 176, 158);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1005;
  transition: opacity 0.35s;
  opacity: 1;
}
.sub_wrap .sub_cvs.hide {
  opacity: 0;
  pointer-events: none;
}

.about_wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_wrap .about {
  font-size: 2em;
}
.about_wrap .tit {
  font-size: 3.875em;
  text-align: center;
  color: #fff;
}

#workWrap {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#workWrap .scale_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(5px);
}
#workWrap .scale_box canvas {
  vertical-align: top;
}
#workWrap .scale_box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.345);
  backdrop-filter: brightness(0.65);
}

.work_lists, .work_list, .circle {
  width: 100%;
}

.work_lists {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle_box .circle {
  display: block;
}

.work_box {
  width: 100%;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(90%);
}

.btn_lists {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  gap: 0.75em;
}
.btn_lists::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #fff;
  order: 2;
  border-radius: 50%;
}
.btn_lists .arr [class*=material] {
  transition: transform 0.25s;
}
.btn_lists .prev {
  order: 1;
}
.btn_lists .prev:hover [class*=material] {
  transform: translateX(-15%);
}
.btn_lists .next {
  order: 3;
}
.btn_lists .next:hover [class*=material] {
  transform: translateX(15%);
}
.btn_lists [class*=material] {
  font-size: 2em;
  color: #fff;
  vertical-align: top;
}

.work_list {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
}
.work_list .work_item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-flex;
  width: 12.5em;
  height: 12.5em;
  margin-top: -6.25em;
  margin-left: -6.25em;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.work_list .work_item.on .lnk {
  transform: scale(1.1);
}
.work_list .work_item.prev .lnk, .work_list .work_item.next .lnk {
  transform: scale(1);
}
.work_list .lnk {
  display: block;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  transition: transform 0.25s;
  transform: scale(0.9);
  transform-origin: bottom;
}
.work_list .card_box {
  transform: rotate(90deg);
}
.work_list .card_box:hover .lab {
  transform: translateY(-10%);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.work_list .card_box:hover .card_img {
  transform: translateY(-10%);
}
.work_list .card_img, .work_list .lab {
  width: 100%;
  height: 17.5em;
}
.work_list .card_img {
  position: relative;
  transition: transform 0.3s;
}
.work_list .card_img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work_list .lab {
  position: absolute;
  top: 0%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9375em 0.625em;
  color: #fff;
  transition: all 0.3s;
  text-align: center;
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
