@charset 'utf-8';

@use "sass:math";
@use "sass:selector";
@use 'common/' as *;

@import './common/root';
@import './components/text';
@import './components/layout/form';


:root {
    --wave-anim: common_wave 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    --custom-wave-anim: custom_common_wave 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    --masking-anim: common_masking 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

body {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

br.lg, br.md, br.smd, br.sm, br.xs {
    display: none;
}
@include pc-small {
    br.lg { display: block;}
    br.lg_none { display: none;}
}
@include tab {
    br.md { display: block;}
    br.md_none { display: none;}
}
@include tab-small {
    br.smd { display: block ;}
    br.smd_none { display: none;}
}
@include mob {
    br.sm { display: block ;}
    br.sm_none { display: none;}
}

@include mob-mid {
    br.xs { display: block ;}
    br.xs_none { display: none;}
}
.wrap {
    max-width: var(--wrap);
    width: 100%;
    margin: {
        left: auto;
        right: auto;
    }
    padding: {
        left: var(--spacing);
        right: var(--spacing);
    }
}
.container {
    overflow: hidden;
}
.custom_under {
    display: inline-block;
    position: relative;
    overflow: hidden;
    &.cb2 {
        &::before {
            background-image: linear-gradient(180deg, transparent calc(100% - 2px), var(--color-b2) 2px);
        }
    }
    &.cb {
        &::before {
            background-image: linear-gradient(180deg, transparent calc(100% - 2px), var(--color-black) 2px);
        }
    }
    &::before {
        content:''; display: block;
        position: absolute; top: 0; left: 0; z-index: 0;
        pointer-events: none;
        width: 100%; height: 100%;
        background-image: linear-gradient(180deg, transparent calc(100% - 2px), var(--brand-color-main) 2px);
        transition: transform .325s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translateX(-100%);
    }
    @include hov-only {
        &:hover {
            &::before {
                transform: translateX(0);
            }
        }
    }
}

.close_btn {
    display: flex;
    position: relative;
    width: em(30, 16); height: em(25, 16);
    overflow: hidden;
    border: none;
    box-shadow: none;
    outline: 0;
    .line, &::before, &::after {
        display: block;
        position: absolute; left: 0;
        width: 100%; height: 2px;
        background-color: #fff;
        transition: transform .25s, width .25s;
    }
    &::before, &::after {
        content: ''; 
        transform-origin: left;
    }
    .line {
        top: 50%; margin-top: -1px;
        transform: translateX(-105%);
    }
    &::before {
        top: 0;
        transform: rotate(45deg);
    }
    &::after {
        bottom: 0; 
        transform: rotate(-45deg);
    }
    &::before, &::after {
        width: 135.055%;
        transition-delay: .25s .35s;
        transition-duration: .35s;
    }
}
.st_url {
    font-size: em(14, 16);
    @include pc-only {
        transition: color .15s;
        &:hover {
            color: #0058ff;
            text-decoration: underline;
        }
    }
}
.popup_wrap {
    opacity: 0; visibility: hidden;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; height: 100%;
    overflow: hidden;
    display: flex; align-items: center; justify-content: center;
    transition: opacity .35s, visibility .35s;
    background-color: rgba(0,0,0, 0.25);
    &.on {
        opacity: 1; visibility: visible;
    }
    .inner {
        position: relative;
    }
    .popup_tit_box {
        display: flex; align-items: center;
        gap: em(16, 16);
        justify-content: space-between;
        background-color: #010101;
        height: em(48, 16);
        margin: {
            left: em(-16, 16);
            right: em(-16, 16);
        }
        padding: em(12, 16) em(16, 16);
    }
    .popup_tit {
        font-size: em(20, 16);
        color: #fff;
    }
    .popup_conts {
        padding: em(16, 16) 0;
    }
    .close_btn {
        // position: absolute; top: 0%; right: 0;        
    }
}

#loadingWrap {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
}