@charset 'utf-8';

@use "sass:math";
@use "sass:selector";
@use 'common/' as *;

@import './common/root';
@import './components/text';
@import './components/layout/form';


:root {
    --wave-anim: common_wave 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    --custom-wave-anim: custom_common_wave 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    --masking-anim: common_masking 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

body {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

br.lg, br.md, br.smd, br.sm, br.xs {
    display: none;
}
@include pc-small {
    br.lg { display: block;}
    br.lg_none { display: none;}
}
@include tab {
    br.md { display: block;}
    br.md_none { display: none;}
}
@include tab-small {
    br.smd { display: block ;}
    br.smd_none { display: none;}
}
@include mob {
    br.sm { display: block ;}
    br.sm_none { display: none;}
}

@include mob-mid {
    br.xs { display: block ;}
    br.xs_none { display: none;}
}
.wrap {
    max-width: var(--wrap);
    width: 100%;
    margin: {
        left: auto;
        right: auto;
    }
    padding: {
        left: var(--spacing);
        right: var(--spacing);
    }
}
.custom_under {
    display: inline-block;
    position: relative;
    overflow: hidden;
    &.cb2 {
        &::before {
            background-image: linear-gradient(180deg, transparent calc(100% - 2px), var(--color-b2) 2px);
        }
    }
    &.cb {
        &::before {
            background-image: linear-gradient(180deg, transparent calc(100% - 2px), var(--color-black) 2px);
        }
    }
    &::before {
        content:''; display: block;
        position: absolute; top: 0; left: 0; z-index: 0;
        pointer-events: none;
        width: 100%; height: 100%;
        background-image: linear-gradient(180deg, transparent calc(100% - 2px), var(--brand-color-main) 2px);
        transition: transform .325s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translateX(-100%);
    }
    @include hov-only {
        &:hover {
            &::before {
                transform: translateX(0);
            }
        }
    }
}

.anim_masking {
    display: inline; overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #ffe667, #ffe667);
    background-repeat: no-repeat;
    background-position: -100vw;
    background-size: 100%;
    transition: background 1s;
    &.on {
        background-position: center center;
    }
}

@keyframes custom_common_wave {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-12.5rem) rotate(0.001deg);
        transform: translateX(-12.5rem) rotate(0.001deg);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) rotate(0.001deg);
        transform: translateX(0) rotate(0.001deg);
    }
}

@keyframes common_masking {
    0% {
        transform: translateX(-100%) rotate(0.01deg);
    }
    100% {
        transform: rotate(0.0001deg);
    }
}