@charset 'utf-8';

@use "sass:math";
@use "sass:selector";
@use 'common/' as *;


.cvs_wrap {
    position: relative;
    overflow: hidden;
    // background-color: #efefef;
    // background: linear-gradient(to bottom, #000000 0%, #131d35 100%);
    background-color: #222;
    background: linear-gradient(45deg, #3f3251 2%, #002025 100%);
    #cvs {
        display: block;
        opacity: 0.25;
        background-color: transparent;
    }
    .tit_wrap {
        position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
}
.main_tit {
    font-size: em(72, 16);
    color: #fff;
    opacity: .85;
    text-shadow: 5px 4px 4px #000;
    letter-spacing: .05em;
}

.sub_wrap {
    display: none;
    &.on {
        display: block;
        .sub_box {
            position: fixed; top: 0; left: 0;
            width: 100%; height: 100%;
            overflow-y: auto;
            background-color: #282a3a; 
        }
    }
    .sub_cvs {
        background-color: rgba(255,176,158,1);
        position: fixed; top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 1005;
        transition: opacity .35s;
        opacity: 1;
        &.hide {
            opacity: 0;
            pointer-events: none;
        }
    }
}
.about_wrap {
    width: 100%; height: 100%;
    overflow-y: auto;
    display: flex; align-items: center; justify-content: center;
    .about {
        font-size: em(32, 16);
    }
    .tit {
        font-size: em(62, 16);
        text-align: center;
        color: #fff;
    }
}